body {
  background-color: grey;
}

#container {
  width: 936px;
  height: 335px;
  background-color: red;
  display: inline-flex;
}

#clock-container {
  width: 240px;
  height: 335px;
  background-color: yellow;
}

#info-container {
  width: 568px;
  height: 335px;
  background-color: green;
}

#track-container {
  width: 128px;
  height: 335px;
  background-color: blue;
}
